@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  #map {
    background-color: #d4dadc !important;
  }
}

body {
  /*background-color: #1d1d1f; */
  background-color: #000000;
}
