@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1d1f;
}

#map {
  width: 50%;
  height: 70%;
  pointer-events:none;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.nah {
  user-select: none;
}