@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-marker-icon {
  pointer-events: none !important;
}

#map {
  background-color: #262626 !important;
}

@media (prefers-color-scheme: light) {
  #map {
    background-color: #d4dadc !important;
  }
}
.centeredimage img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.imagethatisalignedtotheright {
  display: block;
  margin-left: auto;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1002;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
}

body {
  /*background-color: #1d1d1f; */
  background-color: #000000;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.nah {
  user-select: none;
}

/* Add these styles to your existing style.css file or create a new one */

/* Add these styles to your existing style.css file or create a new one */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0; /* Remove all padding */
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.info-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.info-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.intensity {
  font-size: 100px;
}
